__pycache__/
.ipynb_checkpoints/
.venv/
*.pyc
data/raw/*
data/interim/*
!data/*/.gitkeep
video/*
!video/.gitkeep
!data/raw/descarga_log.json
notebooks/cache/
cache/
data/processed/*.gpkg
!data/raw/poi_descarga_log.json
!data/raw/simplify_comparacion.json
